<template>
<div class="link-icon" @click="$emit('onClick')">
    <div class="link-icon__image">
        <component :is="icon"/>
    </div>
    <div class="link-icon__text">
        <slot></slot>
    </div>
</div>
</template>

<script>

import AddCardIcon from '@/assets/icons/add-card-small.svg';
import CardInfoIcon from '@/assets/icons/card-info.svg';
import CardSelected from '@/assets/icons/card-selected.svg';
import CardDelete from '@/assets/icons/card-delete.svg';
import CardSetDefault from '@/assets/icons/card-set-default.svg';

export default {
  name: "LinkIcon",

  components: { AddCardIcon, CardInfoIcon, CardSelected, CardDelete, CardSetDefault },

  props: {
    icon: {
      type: String,
      default: 'AddCardIcon'
    },
    label: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.link-icon {
   display: grid;
   grid-template-columns: 24px auto;
   grid-gap: 16px;
   cursor: pointer;
   margin-bottom: 24px;

   &__image {
      align-self: center;
      width: 24px;
      height: 24px;
   }

   &__text {
      align-self: center;
      letter-spacing: -0.408px;
      color: #000000;
      font-size: 17px;
      line-height: 24px;
      height: 24px;
   }
}
</style>
