<template>
<button
        class="v-button"
        :type="submit ? 'submit' : 'button'"
        :disabled="disabled"
        @click="$emit('onClick')"
>
    <slot></slot>
</button>
</template>

<script>
export default {
  name: "VButton",

  props: {
    submit: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.v-button {
   padding: 0 16px;
   width: 100%;
   height: 52px;
   background: #202022;
   border-radius: 12px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;
   font-weight: 600;
   font-size: 17px;
   line-height: 24px;
   letter-spacing: -0.408px;

   &:disabled {
      color: rgba(235, 235, 245, 0.3);
   }

   &--transparent {
      background: white;
      color: black;
   }

   &--diapason {
      background: #F3F4F5;
      border-radius: 8px;
      height: 32px;
      font-size: 15px;
      text-align: center;
      letter-spacing: -0.24px;
      color: #000000;
      font-weight: normal;
      white-space: nowrap;
      padding: 0 12px;
   }
   
   &--invert{
      background: #F3F4F5;
      color: #000000;
   }
}
</style>
