<template>
<div class="v-input">
    <label class="v-input__label" :for="name">{{ label }}</label>
    <input
            class="v-input__control"
            :id="name"
            :type="type"
            :placeholder="placeholder"
            v-model="controlValue"
    />
</div>
</template>

<script>

export default {
  name: "VInput",

  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    name: {
      type: String,
      default: null
    },
    label: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    },
    errors: {
      type: Array,
      default: null
    },
    required: {
      type: Boolean,
      default: false
    },
  },

  computed: {
    controlValue: {
      get () {
        return this.value;
      },
      set (value) {
        this.$emit('input', value);
      }
    }
  }
}
</script>

<style lang="scss">
.v-input {
   margin-bottom: 22px;

   &__label {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #8A8A8E;
      margin-bottom: 6px;
      display: block;
   }

   &__control {
      width: 100%;
      height: 48px;
      background: #F3F4F5;
      border-radius: 10px;
      font-size: 17px;
      letter-spacing: -0.408px;
      color: #000000;
      padding: 0 12px;

      &::placeholder {
         color: rgba(60, 60, 67, 0.3);
      }

      &:focus {
         &::placeholder {
            color: transparent;
         }
      }
   }
}
</style>
