<template>
<div class="v-select">
    <div class="v-select__label" @click="showModal = true">{{ label }}</div>
    <div class="v-select__control" @click="showModal = true">
        <div class="v-select__value" :class="{'v-select__value--active': value}">{{ selectedValue }}</div>
        <div class="v-select__icon">
            <SelectIcon/>
        </div>
    </div>
    <div class="v-select-modal" v-if="showModal">
        <div class="v-select-modal__head">
            <button type="button" class="v-select-modal__close" @click="showModal = false">
                <CloseIcon/>
            </button>
            <Title>Сфера деятельности</Title>
        </div>
        <div class="v-select-modal__body">
            <div
                    v-for="item in items"
                    :key="item.value"
                    class="v-select-modal-item"
                    @click="onSelect(item)"
            >
                <div class="v-select-modal-item__text">{{ item.text }}</div>
                <div class="v-select-modal-item__icon" v-if="value === item.value">
                    <SelectedIcon />
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import SelectIcon from '@/assets/icons/select.svg';
import CloseIcon from '@/assets/icons/close.svg';
import SelectedIcon from "@/assets/icons/selected.svg";
import Title from "@/components/common/Title";

export default {
  name: "VSelect",

  components: { Title, SelectIcon, CloseIcon, SelectedIcon },

  props: {
    value: {
      type: [Number, String],
      default: null
    },
    items: {
      type: Array,
      default: null
    },
    label: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    },
    errors: {
      type: Array,
      default: null
    }
  },

  computed: {
    selectedValue () {
      if (!this.value || !this.items) return this.placeholder;
      return this.items.find(x => x.value === this.value)?.text;
    }
  },

  data: () => ({
    showModal: false
  }),
  
  methods: {
    onSelect(item){
      this.$emit('input', item.value);
      this.showModal = false;
    }
  }
}
</script>

<style lang="scss">
.v-select {
   margin-bottom: 22px;

   &__label {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #8A8A8E;
      margin-bottom: 6px;
      display: block;
   }

   &__control {
      display: grid;
      grid-template-columns: 1fr 24px;
      grid-column-gap: 12px;
      width: 100%;
      height: 48px;
      background: #F3F4F5;
      border-radius: 10px;
      font-size: 17px;
      letter-spacing: -0.408px;
      color: #000000;
      padding: 0 12px;
   }

   &__value {
      font-size: 17px;
      line-height: 24px;
      letter-spacing: -0.408px;
      color: rgba(60, 60, 67, 0.3);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-self: center;
      
      &--active{
         color: #000;
      }
   }

   &__icon {
      align-self: center;
   }

   &-modal {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      padding: 26px 0;
      overflow: hidden;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto 1fr;
      grid-gap: 32px;

      &__close {
         cursor: pointer;
         width: 24px;
         height: 24px;
         background: none;
         border: none;
         margin: -6px 0 18px -6px;
      }
      
      &__head{
         padding: 0 26px;
      }

      &__body {
         overflow-y: scroll;
         padding: 0 26px;
      }

      &-item {
         display: grid;
         grid-template-columns: 1fr 24px;
         grid-gap: 16px;
         margin-bottom: 28px;
         cursor: pointer;
         min-height: 28px;
         
         &__icon{
            align-self: center;
         }
         
         &__text{
            font-size: 17px;
            line-height: 1.2em;
            letter-spacing: -0.408px;
            color: #000000;
            align-self: center;
         }
      }
   }
}
</style>
