<template>
<div>
    <label class="v-sum">
        <input
                type="text"
                v-model="currentValue"
                placeholder="0"
                class="v-sum__control"
                :style="width"
        >
        <span class="v-sum__currency" :class="{'bill-sum__currency--active': value}">₽</span>
    </label>
    <div class="v-sum-diapasons">
        <div
                v-for="diapason in diapasons"
                :key="diapason"
                class="v-sum-diapasons__item"
        >
            <VButton
                    class="v-button--diapason"
                    @onClick="sum = diapason"
            >
                {{ diapason }} ₽
            </VButton>
        </div>
    </div>
</div>
</template>

<script>
import { DIAPASONS } from "@/constants";
import VButton from "@/components/Form/VButton";

export default {
  name: "VSum",

  components: { VButton },

  props: {
    value: {
      type: Number,
      default: null
    }
  },

  data: () => ({
    width: '',
    diapasons: [
      ...DIAPASONS
    ]
  }),

  computed: {
    currentValue: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', +value);
        this.width = value ? `width: ${value.toString().length * 16}px;` : ''
      }
    }
  }
}
</script>

<style lang="scss">
.v-sum {
   display: grid;
   grid-template-columns: auto 1fr;
   padding: 12px;
   position: static;
   width: 100%;
   height: 60px;
   background: #F3F4F5;
   border-radius: 10px;
   margin-bottom: 16px;

   &__control {
      height: 100%;
      border: none;
      width: 15px;
      background: none;
      font-weight: 600;
      font-size: 27px;
      line-height: 32px;
      letter-spacing: 0.35px;
      max-width: 275px;

      &::placeholder {
         color: #C5C5C7;
      }

      &:focus {
         &::placeholder {
            color: transparent;
         }
      }
   }

   &__currency {
      font-weight: 600;
      font-size: 27px;
      line-height: 32px;
      align-self: center;
      width: 32px;
      padding: 0 12px;
      color: #C5C5C7;

      &--active {
         color: #000;
      }
   }

   &-diapasons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 8px;
   }
}

</style>
