<template>
<div>
    <Title class="title--section">Добавленные карты</Title>

    <CardItem
            class="card-item--invert"
            v-for="card in cards"
            :key="card.id"
            :card-name="card.name"
            :card-number="card.value"
            @onClick="editCard(card)"
    >
        <img :src="card.image" alt=""/>
    </CardItem>

    <LinkIcon @onClick="$emit('changeLayout', 'new-card')">Добавить карту</LinkIcon>
    <LinkIcon icon="CardInfoIcon">Комиссии по картам</LinkIcon>

    <SettingsModal
            @hideModal="card = null"
            v-if="card"
    >
        <div class="card-options">
            <div class="card-options__image">
                <img :src="card.image" alt=""/>
            </div>
        </div>

        <Title class="title--section">Действия</Title>
        <LinkIcon
                v-if="card.current"
                icon="CardSelected"
        >
            Деньги приходят на эту карту
        </LinkIcon>
        <LinkIcon
                v-else
                icon="CardSetDefault"
                @onClick="onSetCardDefault"
        >
            Принимать деньги на эту карту
        </LinkIcon>
        <LinkIcon icon="CardDelete">Удалить карту</LinkIcon>

        <Loader v-if="loading"/>
    </SettingsModal>
    <SettingsModal
            @hideModal="success = false"
            v-if="success"
    >
        <div class="credit-card-added">
            <div class="credit-card-added__image">
                <SuccessIcon/>
            </div>
            <div class="credit-card-added__text">Теперь деньги будут приходить на карту {{success}}</div>
        </div>
        <template v-slot:footer>
            <VButton
                    class="v-button--invert"
                    @onClick="startBill"
            >
                Выставить счёт
            </VButton>
        </template>
    </SettingsModal>
</div>
</template>

<script>
import Title from "@/components/common/Title";
import DemoImage from "@/assets/images/demo/card-demo.png";
import CardItem from "@/views/Index/CardItem";
import LinkIcon from "@/components/Form/LinkIcon";
import SettingsModal from "@/views/Index/Menu/SettingsModal";
import Loader from "@/components/common/Loader";
import VButton from "@/components/Form/VButton";
import SuccessIcon from "@/assets/icons/success.svg";

export default {
  name: "AddedCards",
  components: { Loader, SettingsModal, LinkIcon, CardItem, Title, VButton, SuccessIcon },

  data: () => ({
    cards: [
      {
        id: 1,
        name: 'Alfa Message ··1234',
        value: 'Деньги приходят на эту карту',
        image: DemoImage,
        current: true,
      },
      {
        id: 2,
        name: '··1234',
        value: null,
        image: DemoImage,
        current: false
      }
    ],
    card: null,
    loading: false,
    success: false
  }),

  methods: {
    editCard (card) {
      this.card = card;
    },

    onSetCardDefault () {
      this.loading = true;
      setTimeout(() => {
        this.loading = false
        this.success = this.card.name;
        this.card = null;
      }, 2000);
    }
  }
}
</script>

<style lang="scss">
.card-options {
   &__image {
      margin-bottom: 32px;
      padding: 0 24px;

      img {
         width: 100%;
      }
   }
}
</style>
