<template>
<div>
    <Title class="title--section">Ваш бизнес</Title>
    <div class="our-business">
        <div class="our-business__item">
            <ServiceDemoIcon/>
        </div>
        <div class="our-business__item">Кофешоп</div>
        <div class="our-business__item">
            <button type="button" class="our-business__edit" @click="editModal = true">
                <EditIcon/>
            </button>
        </div>
    </div>
    <SettingsModal
            v-if="editModal"
            @hideModal="editModal = false"
    >
        <VInput
                label="Как вы называетесь"
                name="name"
                placeholder="Например, Кофе с собой"
                v-model="form.name"
        />
        <VSelect
                label="Чем вы занимаетесь"
                placeholder="Выбрать"
                :items="services"
                v-model="form.type"
        />
        <template v-slot:footer>
            <VButton
                    @onClick="onSaveSettings"
                    :disabled="disabled"
            >
                Сохранить
            </VButton>
        </template>
    </SettingsModal>
    <Loader v-if="loading"/>
</div>
</template>

<script>
import VInput from "@/components/Form/VInput";

const defaultForm = {
  name: '',
  type: null
}
import { SERVICES } from "@/constants";

import Title from "@/components/common/Title";
import ServiceDemoIcon from '@/assets/icons/services/service1.svg'
import EditIcon from '@/assets/icons/edit.svg'
import SettingsModal from "@/views/Index/Menu/SettingsModal";
import VSelect from "@/components/Form/VSelect";
import VButton from "@/components/Form/VButton";
import Loader from "@/components/common/Loader";

export default {
  name: "OurBusiness",
  components: { Loader, VButton, VSelect, VInput, SettingsModal, Title, ServiceDemoIcon, EditIcon },

  data: () => ({
    editModal: false,
    services: SERVICES,
    loading: false,
    form: {
      ...defaultForm
    }
  }),

  computed: {
    disabled: vm => vm.form.name.trim() === '' || vm.form.type === null
  },

  methods: {
    onSaveSettings () {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
      }, 2000);
    }
  }
}
</script>

<style lang="scss">
.our-business {
   display: grid;
   grid-template-columns: 48px 1fr auto;
   grid-gap: 16px;
   margin-bottom: 32px;

   &__item {
      align-self: center;
      font-size: 17px;
      line-height: 24px;
      color: #000000;
   }

   &__edit {
      cursor: pointer;
      width: 24px;
      height: 24px;
      border: none;
      background: none;
   }
}
</style>
