<template>
<div>
    <Title class="title--section">История платежей</Title>
    <div
            v-for="item in items"
            :key="item.id"
            class="history-item"
    >
        <div class="history-item__icon">
            <InIcon/>
        </div>
        <div class="history-item__info">
            <div class="history-item-data">
                <div class="history-item-data__left">{{ item.card }}</div>
                <div class="history-item-data__right">+{{ item.sum }} ₽</div>
                <div class="history-item-data__left" v-if="item.commission"></div>
                <div class="history-item-data__right history-item-data__right--gray" v-if="item.commission">Комиссия {{ item.commission }} ₽</div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Title from "@/components/common/Title";
import InIcon from "@/assets/icons/in.svg";

export default {
  name: "PaymentHistory",
  components: { Title, InIcon },

  data: () => ({
    items: [
      {
        id: 1,
        card: '··0941',
        sum: 900,
        commission: 0
      },
      {
        id: 2,
        card: '··0941',
        sum: 1900,
        commission: 0
      },
      {
        id: 3,
        card: '··0941',
        sum: 800,
        commission: 100
      },
      {
        id: 4,
        card: '··0941',
        sum: 400,
        commission: 0
      },
      {
        id: 5,
        card: '··0941',
        sum: 400,
        commission: 0
      },
      {
        id: 6,
        card: '··0941',
        sum: 9200,
        commission: 0
      }
    ]
  })
}
</script>

<style lang="scss">
.history-item {
   display: grid;
   grid-template-columns: 48px 1fr;
   grid-gap: 16px;
   margin-bottom: 32px;

   &__icon {
      align-self: center;
   }

   &__info {
      align-self: center;
   }

   &-data {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2px;

      &__left {
         text-align: left;
         font-size: 17px;
         line-height: 24px;
         letter-spacing: -0.408px;
         color: #000000;
      }

      &__right {
         text-align: right;
         font-size: 17px;
         line-height: 24px;
         letter-spacing: -0.408px;
         color: #000000;

         &--gray {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.24px;
            color: rgba(60, 60, 67, 0.6);
         }
      }
   }
}
</style>
