<template>
<div>
    <button type="button" class="menu-toggle" @click="showMenu = true">
        <BurgerIcon/>
    </button>

    <div class="settings" v-if="showMenu">
        <button type="button" class="menu-toggle settings__button" @click="showMenu = false">
            <CloseIcon/>
        </button>
        <div>
            <OurBusiness/>
            <AddedCards/>
            <PaymentHistory/>
        </div>
    </div>
</div>
</template>

<script>
import BurgerIcon from '@/assets/icons/burger.svg';
import CloseIcon from '@/assets/icons/close.svg';
import AddedCards from "@/views/Index/Menu/AddedCards";
import OurBusiness from "@/views/Index/Menu/OurBusiness";
import PaymentHistory from "@/views/Index/Menu/PaymentHistory";

export default {
  name: "SettingsMenu",

  components: { PaymentHistory, OurBusiness, AddedCards, BurgerIcon, CloseIcon },

  data: () => ({
    layout: 'default',
    showMenu: false
  })

}
</script>

<style lang="scss">
.menu-toggle {
   cursor: pointer;
   width: 24px;
   height: 24px;
   border: none;
   background: none;
   margin: -2px 0 0 -2px;
}

.settings {
   padding: 26px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background: white;
   overflow-y: auto;

   &__button {
      margin-bottom: 20px;
   }
}
</style>
