<template>
<div class="settings-modal">
    <div class="settings-modal__item">
        <button type="button" class="menu-toggle" @click="$emit('hideModal')">
            <BackIcon/>
        </button>
    </div>
    <div class="settings-modal__item">
        <slot></slot>
    </div>
    <div class="settings-modal__item">
        <slot name="footer"></slot>
    </div>
</div>
</template>

<script>
import BackIcon from '@/assets/icons/back.svg';

export default {
  name: "SettingsModal",
  
  components: {
    BackIcon
  }
}
</script>

<style lang="scss">
    .settings-modal{
       padding: 26px;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 200;
       background: white;
       display: grid;
       grid-template-columns: 100%;
       grid-template-rows: auto 1fr auto;
       grid-gap: 20px;
       overflow-y: auto;
    }
</style>
