<template>
<Wrapper hide-back class="bill">
    <template v-slot:before-title>
        <div class="bill-head">
            <div class="bill-head__item">
                <SettingsMenu />
            </div>
            <div class="bill-head__item">
                <img src="~@/assets/images/demo/card-demo.png" alt="" class="bill-head__image">
            </div>
            <div class="bill-head__item">
                ··1234
            </div>
        </div>
    </template>
    <template v-slot:title>
        Выставить счёт по<br/>QR-коду
    </template>
    <VSum
            v-model="sum"
    />
    <template v-slot:footer>
        <VButton
                @onClick="onGenerateQr"
                :disabled="!sum"
        >
            Сгенерировать QR-код
        </VButton>
    </template>
    <Loader
            v-if="load"
    />
    <Modal
            v-if="showQR"
            @hide="showQR = false"
    >
        <div class="bill__image">
            <img src="~@/assets/images/demo/qr.png" alt="">
        </div>
        <div class="bill__price">16 082,55 ₽</div>
        <div class="bill__desc">Покажите QR-код,<br/>чтобы принять оплату</div>
        <VButton class="v-button--invert" @onClick="createNewBill">Выставить новый счёт</VButton>
    </Modal>
</Wrapper>
</template>

<script>
import Wrapper from "@/components/common/Wrapper";
import VSum from "@/components/Form/VSum";
import VButton from "@/components/Form/VButton";
import Loader from "@/components/common/Loader";
import Modal from "@/components/common/Modal";
import SettingsMenu from "@/views/Index/Menu/SettingsMenu";

export default {
  name: "BillQR",
  components: { SettingsMenu, Modal, Loader, VSum, Wrapper, VButton },

  data: () => ({
    sum: null,
    load: false,
    showQR: false
  }),

  methods: {
    onGenerateQr () {
      this.load = true
      setTimeout(() => {
        this.load = false
        this.showQR = true
      }, 2000);
    },

    createNewBill () {
      this.showQR = false;
      this.sum = null;
    }
  }

}
</script>

<style lang="scss">
.bill {
   &-head {
      display: grid;
      grid-template-columns: 1fr 22px auto;
      grid-gap: 4px;
      margin-bottom: 20px;

      &__item {
         align-self: center;
         font-size: 15px;
      }

      &__image {
         width: 22px;
         display: block;
      }
   }

   &__image {
      text-align: center;
      margin-bottom: 68px;

      img {
         display: block;
      }
   }

   &__price {
      font-weight: 600;
      font-size: 27px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.35px;
      color: #000000;
      margin-bottom: 16px;
   }

   &__desc {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.24px;
      color: #8A8A8E;
      margin-bottom: 28px;
   }

}
</style>
