<template>
<div class="card-item" @click="$emit('onClick')">
    <div class="card-item__text">
        <div class="card-item__name">{{cardName}}</div>
        <div class="card-item__number" v-if="cardNumber">{{cardNumber}}</div>
    </div>
    <div class="card-item__image">
        <slot></slot>
    </div>
</div>
</template>

<script>
export default {
  name: "CardItem",
  props: {
    cardName: {
      type: String,
      default: ''
    },
    cardNumber: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="scss">
.card-item {
   cursor: pointer;
   padding: 12px 20px 12px 24px;
   background: #F3F4F5;
   border-radius: 16px;
   margin-bottom: 16px;
   display: grid;
   grid-template-columns: 1fr 76px;
   grid-template-areas: 'card-text card-image';
   grid-gap: 16px;
   
   &__text{
      align-self: center;
      grid-area: card-text;
   }
   &__image{
      align-self: center;
      overflow: hidden;
      border-radius: 5px;
      height: 48px;
      grid-area: card-image;
      
      img{
         width: 100%;
      }
   }
   
   &__name{
        margin-bottom: 2px;
   }
   
   &__number{
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: rgba(60, 60, 67, 0.6);
   }
   
   &--invert{
      grid-template-columns: 76px 1fr;
      grid-template-areas: 'card-image card-text';
      background: none;
      padding: 0;
      margin-bottom: 32px;
   }
}
</style>
