<template>
<Wrapper class="create-business">
    <template v-slot:title>
        Расскажи больше о<br/>вашем бизнесе
    </template>
    <VInput
            label="Как вы называетесь"
            name="name"
            placeholder="Например, Кофе с собой"
            v-model="form.name"
    />
    <VSelect
            label="Чем вы занимаетесь"
            placeholder="Выбрать"
            :items="services"
            v-model="form.type"
    />
    <template v-slot:footer>
        <div class="create-business__next">
            <VButton
                    @onClick="$emit('changeLayout', 'select-card')"
                    :disabled="disabled"
            >
                Продолжить
            </VButton>
        </div>
        <VButton
                class="v-button--transparent"
                @onClick="$emit('changeLayout', 'select-card')"
        >
            Пропустить
        </VButton>
    </template>
</Wrapper>
</template>

<script>
const defaultForm = {
  name: '',
  type: null
}
import { SERVICES } from "@/constants";

import Wrapper from "@/components/common/Wrapper";
import VInput from "@/components/Form/VInput";
import VSelect from "@/components/Form/VSelect";
import VButton from "@/components/Form/VButton";

export default {
  name: "CreateBusiness",
  components: { VSelect, VInput, Wrapper, VButton },

  data: () => ({
    form: {
      ...defaultForm
    },
    services: [
      ...SERVICES
    ]
  }),

  computed: {
    disabled: vm => vm.form.name.trim() === '' || vm.form.type === null
  }
}
</script>

<style lang="scss">
.create-business {
   &__next {
      margin-bottom: 16px;
   }
}
</style>
