<template>
<Wrapper>
    <template v-slot:title></template>
    <div class="credit-card-added">
        <div class="credit-card-added__image">
            <SuccessIcon/>
        </div>
        <div class="credit-card-added__text">Карта ··5090 добавлена</div>
    </div>
    <template v-slot:footer>
        <VButton
                class="v-button--invert"
                @onClick="startBill"
        >
            Выставить счёт
        </VButton>
    </template>
</Wrapper>
</template>

<script>
import Wrapper from "@/components/common/Wrapper";
import VButton from "@/components/Form/VButton";
import SuccessIcon from "@/assets/icons/success.svg";

export default {
  name: "CreditCardAdded",
  components: { Wrapper, VButton, SuccessIcon },

  methods: {
    startBill () {
      this.$emit('changeLayout', 'start-bill');
    }
  }
}
</script>

<style lang="scss">
.credit-card-added {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   &__image {
      margin-bottom: 30px;
   }

   &__text {
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
   }
}
</style>
