<template>
<Wrapper>
    <template v-slot:title>
        Приём платежей<br/> по QR-коду в одно касание
    </template>
    <div class="help-grid">
        <template v-for="item in items">
            <div class="help-grid__icon" :key="`icon${item.id}`">
                <component :is="item.icon" />
            </div>
            <div class="help-grid__text" :key="`text${item.id}`">
                {{ item.text }}
            </div>
        </template>
    </div>
    <template v-slot:footer>
        <VButton @onClick="$emit('changeLayout', 'create-business')">Далее</VButton>
    </template>
</Wrapper>
</template>

<script>
import Wrapper from "@/components/common/Wrapper";
import Icon1 from '@/assets/icons/exposition/icon1.svg';
import Icon2 from '@/assets/icons/exposition/icon1.svg';
import Icon3 from '@/assets/icons/exposition/icon1.svg';
import VButton from "@/components/Form/VButton";

export default {
  name: "Help",
  components: { VButton, Wrapper, Icon1, Icon2, Icon3 },

  data: () => ({
    items: [
      {
        id: 1,
        text: 'Привяжите любую карту для получения платежей',
        icon: Icon1
      },
      {
        id: 2,
        text: 'Введите нужную сумму и сгенерируйте QR-код',
        icon: Icon2
      },
      {
        id: 3,
        text: 'Покажите получившийся QR-код покупателю',
        icon: Icon3
      }
    ]
  })
}
</script>

<style lang="scss">
    .help-grid{
       display: grid;
       grid-template-columns: 48px 1fr;
       grid-column-gap: 16px;
       grid-row-gap: 32px;
       
       &__icon{
          align-self: center;
       }
       
       &__text{
          align-self: center;
          line-height: 24px;
       }
    }
</style>

