<template>
<div>
    <Help
            v-if="layout === 'help'"
            @changeLayout="changeLayout"
    />
    <CreateBusiness
            v-if="layout === 'create-business'"
            @changeLayout="changeLayout"
    />
    <SelectCard
            v-if="layout === 'select-card'"
            @changeLayout="changeLayout"
    />
    <BillQR
            v-if="layout === 'start-bill'"
            @changeLayout="changeLayout"
    />
    <NewCard
            v-if="layout === 'new-card'"
            @changeLayout="changeLayout"
    />
    <CreditCardAdded
            v-if="layout === 'credit-card-added'"
            @changeLayout="changeLayout"
    />
</div>
</template>

<script>
import Help from "@/views/Index/Help";
import CreateBusiness from "@/views/Index/CreateBusiness";
import SelectCard from "@/views/Index/SelectCard";
import BillQR from "@/views/Index/BillQR";
import NewCard from "@/views/Index/NewCard";
import CreditCardAdded from "@/views/Index/CreditCardAdded";

export default {
  name: "Index",

  components: { CreditCardAdded, NewCard, BillQR, SelectCard, CreateBusiness, Help },

  data: () => ({
    layout: ''
  }),

  created () {
    this.layout = 'help';
  },

  methods: {
    changeLayout (layout) {
      this.layout = layout;
    }
  }
}
</script>
