<template>
<a class="new-alpha-card" href="#">
    <div class="new-alpha-card__info">
        <Title class="title title--small">Оформить Альфа-Карту</Title>
        <div class="new-alpha-card__desc">Все входящие деньги без комиссии</div>
    </div>
    <div class="new-alpha-card__image">
        <img src="~@/assets/images/cards/new.png" alt="">
    </div>
</a>
</template>

<script>
import Title from "@/components/common/Title";

export default {
  name: "NewAlphaCard",
  components: { Title }
}
</script>

<style lang="scss">
.new-alpha-card {
   background: #F3F4F5;
   border-radius: 16px;
   display: grid;
   grid-template-columns: 1fr 96px;
   grid-column-gap: 36px;
   text-decoration: none;
   padding: 16px;
   color: black;

   &__desc {
      margin-top: 4px;
   }
}
</style>
