<template>
<Wrapper class="new-card">
    <template v-slot:title>
        Новая карта
    </template>
    <div class="new-card__desc">При получении на эту карту может<br/> взиматься комиссия, <a href="#">подробнее<br/> в условиях</a></div>
    <VInput
            required
            v-model="form.number"
            label="Номер карты"
            placeholder="0000 0000 0000 0000"
    />
    <div class="new-card__fields">
        <div class="new-card__field">
            <VInput
                    required
                    v-model="form.date"
                    label="Месяц/Год"
                    placeholder="00/00"
            />
        </div>
        <div class="new-card__field">
            <VInput
                    required
                    v-model="form.ccv"
                    label="CVC/CVV-код"
                    placeholder="123"
            />
        </div>
    </div>
    <template v-slot:footer>
        <VButton
                @onClick="onAppendCard"
                :disabled="disabled"
        >
            Добавить
        </VButton>
    </template>
    <Loader
            v-if="loading"
    />
</Wrapper>
</template>

<script>

import Wrapper from "@/components/common/Wrapper";
import VInput from "@/components/Form/VInput";
import VButton from "@/components/Form/VButton";
import Loader from "@/components/common/Loader";

const defaultForm = {
  number: '',
  date: '',
  ccv: ''
}

export default {
  name: "NewCard",
  components: { Loader, VInput, Wrapper, VButton },

  data: () => ({
    form: {
      ...defaultForm
    },
    loading: false
  }),

  computed: {
    disabled () {
      for (const value of Object.values(this.form)) {
        if (value.trim() === '') return true;
      }
      return false;
    }
  },

  methods: {
    
    onAppendCard () {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
        this.$emit('changeLayout', 'credit-card-added');
      }, 2000)
    }
  }
}
</script>

<style lang="scss">
.new-card {
   &__desc {
      margin-top: -16px;
      margin-bottom: 24px;
   }

   &__fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
   }
}
</style>
