<template>
<Wrapper>
    <template v-slot:title>
        С какой карты выставлять счета?
    </template>

    <CardItem
            v-for="card in cards"
            :key="card.id"
            :card-name="card.name"
            :card-number="card.value"
            @onClick="selectCard(card)"
    >
        <img :src="card.image" alt=""/>
    </CardItem>

    <CardItem
            card-name="Новая карта"
            @onClick="$emit('changeLayout', 'new-card')"
    >
        <AddCard/>
    </CardItem>
    <NewAlphaCard/>
</Wrapper>
</template>

<script>
import Wrapper from "@/components/common/Wrapper";
import CardItem from "@/views/Index/CardItem";
import AddCard from '@/assets/icons/add-card.svg';

import DemoImage from '@/assets/images/demo/card-demo.png';
import NewAlphaCard from "@/views/Index/NewAlphaCard";

export default {
  name: "SelectCard",
  components: { NewAlphaCard, CardItem, Wrapper, AddCard },

  data: () => ({
    cards: [
      {
        id: 1,
        name: 'Alfa Message',
        value: '··1234',
        image: DemoImage
      }
    ]
  }),

  methods: {
    selectCard () {
      this.$emit('changeLayout', 'start-bill')
    }
  }
}
</script>

<style lang="scss">

</style>
