<template>
<div class="loader">
    <div class="loader__image">
    
    </div>
</div>
</template>

<script>
export default {
  name: "Loader"
}
</script>

<style lang="scss">
.loader{
   position: fixed;
   z-index: 500;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.6);
   
   &__image{
      position: relative;
      width: 20px;
      height: 20px;
      animation: .6s infinite linear rotate;
      transform-origin: center;
      
      
      &:after{
         content: '';
         position: absolute;
         top: -3px;
         left: -3px;
         width: 20px;
         height: 20px;
         border-left: 3px solid white;
         border-right: 3px solid white;
         border-top: 3px solid transparent;
         border-bottom: 3px solid white;
         border-radius: 50px 50px 50px 50px;
         transform: rotate(-45deg);
      }
   }
}

@keyframes rotate {
   from {
      transform: rotate(0);
   }

   to {
      transform: rotate(360deg);
   }
}
</style>
