<template>
<div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__container">
        <div class="modal__body">
            <button class="modal__close" type="button" @click="$emit('hide')">
                <ModalClose />
            </button>
            <slot></slot>
        </div>
    </div>
</div>
</template>

<script>
import ModalClose from '@/assets/icons/modal-close.svg';

export default {
  name: "Modal",
  
  components: {ModalClose}
}
</script>

<style lang="scss">
.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;

   &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
   }

   &__container {
      padding: 34px 8px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      overflow: scroll;
   }
   
   &__body{
      position: relative;
      background: #FFFFFF;
      border-radius: 32px;
      padding: 52px;
   }
   
   &__close{
      position: absolute;
      top: 16px;
      right: 16px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      border: none;
      background: none;
   }
}
</style>
