<template>
<div class="title"><slot></slot></div>
</template>

<script>
export default {
name: "Title"
}
</script>

<style lang="scss">
    .title{
       font-weight: 600;
       font-size: 27px;
       line-height: 32px;
       letter-spacing: 0.35px;
       color: #000000;
       
       &--small{
          font-size: 22px;
          line-height: 28px;
       }
       
       &--section{
          font-weight: 600;
          font-size: 17px;
          line-height: 24px;
          color: #000000;
          margin-bottom: 24px;
       }
    }
</style>
