<template>
<div class="wrapper">
    <div class="wrapper__head" v-if="!hideHead">
        <button
                v-if="!hideBack"
                class="wrapper__back"
                type="button"
                @click="$emit('back')"
        >
            <BackIcon/>
        </button>
        <slot name="before-title"></slot>
        <Title>
            <slot name="title"></slot>
        </Title>
    </div>
    <div class="wrapper__body">
        <slot></slot>
    </div>
    <div class="wrapper__footer">
        <slot name="footer"></slot>
    </div>
</div>
</template>

<script>
import Title from "@/components/common/Title";
import BackIcon from "@/assets/icons/back.svg";

export default {
  name: "Wrapper",
  components: { Title, BackIcon },
  props: {
    hideHead: {
      type: Boolean,
      default: false
    },
    back: {
      type: Boolean,
      default: false
    },
    hideBack: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.wrapper {
   display: grid;
   width: 100%;
   grid-template-columns: 100%;
   grid-template-rows: auto 1fr auto;
   min-height: 100vh;

   &__head {
      padding: 25px 24px 15px 24px;
   }

   &__body {
      padding: 15px 24px 24px 24px;
   }

   &__footer {
      padding: 0 24px 20px 24px;
   }

   &__title {
      font-weight: 600;
      font-size: 27px;
      line-height: 32px;
      letter-spacing: 0.35px;
      color: #000000;
   }

   &__back {
      cursor: pointer;
      background: none;
      border: none;
      margin-bottom: 20px;
      margin-left: -6px;
      margin-top: -6px;
   }
}
</style>
