<template>
<div id="app">
    <router-view/>
</div>
</template>

<style lang="scss">
@import "src/assets/fonts/SFPro/stylesheet";

* {
   outline: none;
   vertical-align: baseline;
   box-sizing: border-box !important;
   border: 0 none;
   outline: 0;
   padding: 0;
   margin: 0;
   -webkit-text-size-adjust: 100%;
   -webkit-overflow-scrolling: touch;
   -webkit-font-smoothing: antialiased;
   appearance: none;
}

#app{
   width: 100%;
   max-width: 469px;
   margin: auto;
}

html {
   font-family: 'SF Pro Display', sans-serif;
   font-size: 17px;
   letter-spacing: -0.408px;
   color: #000000;
}

a {
   text-decoration: none;
   color: #0A7AFF;
}

</style>
